<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br />
  <div class="field">
    <%= f.label :name, "Nombre del Producto" %>
    <%= f.text_field :name %>
  </div> <br />
  <div class="field">
    <%= f.label :price_list, "Precio de Lista" %>
    <%= f.text_field :price_list %>
  </div><br />
  <div class="field">
    <%= f.label :precio, "Precio" %>
    <%= f.text_field :precio %>
  </div><br />
  <div class="field">
    <%= f.label :category_id, "Categoria" %>
    <%= f.collection_select :category_id,  Category.order("id").all, :id, :name, options ={:prompt => "-- Selecciona Categoría --"}%>
  </div><br />
  <div class="field">
    <% f.label :subcategory_id, "Sub Categoria" %>
    <% f.collection_select :subcategory_id,  Category.order("id").all, :id, :name, options ={:prompt => "-- Selecciona Categoría --"}%>
  </div><br />
  <div class="field">
    <%= f.label :status, "Estatus del Producto" %>
    <%= f.select :status,  options_for_select([["Activo", "1"], ["Inactivo", "2"]])%>
  </div><br />
  <div class="field">
    <%= f.label :availability_id, "Disponibilidad" %>
    <%= f.collection_select :availability_id,  Availability.order("id").all, :id, :name, options ={:prompt => "-- Selecciona Disponibilidad --"}%>
  </div><br />
  <div class="field">
    <%= f.label :model, "Modelo" %>
    <%= f.text_field :model%>
  </div><br />
  <div class="field">
    <%= f.label :description, "Descripcion" %>
    <%= f.text_area :description, :class => "span7", :size => "5x5"%>
  </div><br />
  <div class="field">
    <%= f.label :product_detail, "Detalles del Producto" %>
    <%= f.text_area :product_detail, :class => "span7", :size => "5x5"%>
  </div><br />
  <div class="field">
    <%= f.label :product_features, "Caracteristicas del Producto" %>
    <%= f.text_area :product_features, :class => "span7", :size => "5x5"%>
  </div><br />

  <div class="field">
    <%= f.label :avatar, "Fotografía" %>
    <%= f.file_field :avatar %>
  </div><br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
