<h1>Lista de Productos</h1>
<br />
  <%= link_to 'Añadir Producto', new_product_path, :class=>"btn"%>
<br />
<br />
<table class="table table-hover">
  <tr>
    <th>Imagen</th>
    <th>Nombre</th>
    <th>Seo</th>
    <th>Precio</th>
    <th>Estatus</th>
    <th>Categoria</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= image_tag product.avatar.url, :size => "100x100" %></td>
    <td><%= product.name %></td>
    <td><%= product.seo %></td>
    <td><%= product.precio %></td>
    <td><% if product.status = 1 %>
            Activo
        <%else%>
            Inactivo

        <%end%>
    </td>
    <td><%= product.category.name %></td>
    <td><%= link_to 'Ver', product %> |
        <%= link_to 'Editar', edit_product_path(product) %> |
        <%= link_to 'Borrar', product, method: :delete, data: { confirm: 'Esta usted seguro?' } %></td>
  </tr>
<% end %>
</table>

